main {
	height: 110vh;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/Plovdiv.jpg);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/Plovdiv.webp);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/Plovdiv.webp);
	background-size: cover;
	padding-top: 85px;
}

main>h1 {
	color: white;
	text-align: center;
	letter-spacing: 2px;
	font-size: max(40px, 2vw);
}

#picture-and-text {
	margin-top: max(25px, 1.5vw);
	display: flex;
	justify-content: center;
	align-items: center;
}

#picture-and-text>img {
	border-radius: 2px;
	width: max(25%, 270px);
	height: max(25%, 373px);
	max-width: 643px;
	max-height: 889px;
}

#text-div {
	color: white;
	width: max(500px, 30%);
	margin-left: min(20px, 10%);
	margin-bottom: 50px;
}

@media only screen and (max-width: 650px) {
	#picture-and-text>img {
		display: none;
	}

	#text-div {
		margin-left: 0px;
		padding-left: 1%;
	}

	#text-div>p {
		font-size: 18px !important;
	}

	main>h1 {
		font-size: 35px;
	}
}

@media only screen and (max-width: 1240px) {
	#text-div {
		margin-bottom: 0px;
	}
}

#text-div>p {
	font-size: max(1.3vw, 20px);
	text-shadow: 0px 0px 5px black;
}

@media only screen and (max-width: 303px) {
	#text-div>p {
		font-size: 18px;
	}
}

#text-div>p:nth-child(3) {
	margin-bottom: 25px;
}

#text-div>a {
	color: white;
	text-decoration: none;
	font-size: 1.3vw;

	background-color: rgb(10, 140, 221);
	-webkit-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	transition: background-color 300ms linear;

	padding: 2% 4% 2% 4%;
	font-size: max(1vw, 14px);
}

#text-div>a:hover {
	color: white;
	background-color: #0B5ED7;
	-webkit-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	transition: background-color 300ms linear
}

@media only screen and (max-height: 550px) {
	main>h1 {
		display: none;
	}

	#text-div>p {
		font-size: small;
	}

	#text-div>p {
		margin-bottom: 5px;
	}

	#text-div>p:nth-child(3) {
		margin-bottom: 10px !important;
	}

	#picture-and-text {
		margin-top: 0px;
	}

	#picture-and-text>img {
		height: max(80vh, 200px);
	}

	main {
		padding-top: 70px;
	}
}