#carouselExampleControls {
	margin-top: 66px;
}

article {
	height: 110vh;
	width: 100%;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.233)), to(rgba(0, 0, 0, 0.664))), url(/images/dirt-racing.webp) center center/cover no-repeat scroll;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.664)), url(/images/dirt-racing.webp) center center/cover no-repeat scroll;
	background-size: cover;
}

#goal-div {
	width: 15rem;
	position: relative;
	left: 70%;
	top: 10%;
	color: aliceblue;
	opacity: 0;
}

@media (prefers-reduced-motion) {
	#goal-div {
		transition: none;
	}
}

.fadeIn {
	transition: opacity 700ms ease-in-out;
	opacity: 1 !important;
}

#goal-div>h1 {
	font-size: 28px;
	text-align: center;
	width: 15rem;
}

#goal-div>p {
	text-align: justify;
	text-shadow: 0px 3px 13px #000000;
	margin-bottom: 1.5em;
}

#goal-div>hr {
	height: 2px;
}

#goal-div>a {
	color: white;
	text-decoration: none;
	background-color: rgb(10, 140, 221);
	transition: background-color 300ms linear;
	padding: 3%;
}

#goal-div>a:hover {
	color: white;
	background-color: #0B5ED7;
	transition: background-color 300ms linear
}

@media only screen and (max-width: 900px) {
	#goal-div {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 1568px) {
	#goal-div {
		width: 25rem;
		top: 10%;
	}

	#goal-div>p {
		font-size: 30px;
	}

	#goal-div>h1 {
		font-size: 35px;
		width: 25rem;
	}

	footer>p {
		font-size: 26px;
	}
}

image-carousel {
	display: block;
}