* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	height: 100vh;
	background-color: #2F4F4F;
	overflow: auto;
}

form {
	position: relative;
	top: max(120px, 18%);
	left: 50%;
	transform: translate(-50%, 0%);

	width: 30%;
	min-width: 400px;
	height: fit-content;
	padding: 10px;

	border: rgba(0, 0, 0, 0.7) transparent 3px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	color: white;
}

@supports not ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
	form {
		background-color: black;
		border-color: black;
	}
}

@media only screen and (max-width: 410px) {
	form {
		min-width: 280px;
	}
}

form>h1 {
	text-align: center;
}

input,
input:active,
input:focus {
	outline: none !important;
	box-shadow: none !important;
	border-radius: 3px !important;
}

.inputs>input[type="submit"] {
	margin-top: 10px !important;
	width: 100% !important;
}

.invalid-span {
	color: red;
	font-size: 12px;
	display: none;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	pointer-events: none;
}

.is-invalid,
.is-invalid:active,
.is-invalid:focus {
	border: solid 2px #dc3545 !important;
}

.server-error-msg {
	display: block;
	text-align: center;
	background-color: #dc3545;
	border-radius: 2px;
}

.redirect-div {
	margin-top: 4px;
}

.redirect-div>a,
.redirect-div>a:hover {
	color: aquamarine;
}

@media not (prefers-reduced-motion) {
	.redirect-div>a {
		transition: color 100ms ease-in-out;
	}

	.redirect-div>a:hover {
		color: #0883b5;
	}
}